---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

{% include 'components/banner.html' %}

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1630">
    <div class="cs-container">
        <div class="cs-flex">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting-8.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting-8.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting-8.jpg" alt="therapy" width="608" height="400">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Why Choose Us</span>
                <h2 class="cs-title">Hire a property manager with a spirit of Excellence!
                </h2>
                <p class="cs-text">
                    We offer Property Management services for Goodyear, Surprise, Litchfield Park, and Avondale!
                </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chat-gold.svg" alt="icon" width="24" height="24">
                    </picture>
                    How Much Does It Cost?
                </h3>
                <p class="cs-item-text">
                    We welcome and celebrate different perspectives to help our firm, our clients and our people achieve adip iscing elit enduring results.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/call-gold.svg" alt="icon" width="24" height="24">
                    </picture>
                    Free Consultation
                </h3>
                <p class="cs-item-text">
                    We welcome and celebrate different perspectives to help our firm, our clients and our people achieve adip iscing elit enduring results.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/money-gold.svg" alt="icon" width="24" height="24">
                    </picture>
                    Satisfaction Gauranteed
                </h3>
                <p class="cs-item-text">
                    We welcome and celebrate different perspectives to help our firm, our clients and our people achieve adip iscing elit enduring results.
                </p>
            </li>
        </ul>
    </div>
</section>
              
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1640">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Courses</span>
            <h2 class="cs-title">Stitch Group for Process Safety Training</h2>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/talking.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/talking.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/talking.jpg" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <p class="cs-text">
                We make owning rental property in the Phoenix area hassle-free and profitable, by keeping the total cost of ownership low.  Our philosophy is to manage your property professionally, economically and efficiently.  We will take care of your property by doing regular inspections, collecting the rent on time, handling maintenance issues promptly as they arise and keep you updated regularly.  We have built a great reputation in the Phoenix area by offering high quality property management service to our clients.  We have owned and managed hundreds of rental properties ourselves, and therefore know what clients expect and need from a property manager.                </p>
            </p>
            <p class="cs-text">
                We offer comprehensive rental property management services for Scottsdale, AZ, Goodyear, AZ and the surrounding West Valley.  Our property management clients receive nothing but our very best. We are detail oriented property managers and you will enjoy working with us.  We offer full-service property management or leasing only services.  Put your trust in our hands, we have over 23 years of experience as Property Managers. We manage rental properties in Phoenix, Goodyear, Surprise, Scottsdale, Litchfield Park, and all of the West Valley.  Try us for your rental property management.....we're not like the others!             </p>
            <ul class="cs-stats">
                <li class="cs-stat">
                    <span class="cs-number">400+</span>
                    <span class="cs-desc">Properties Managed</span>
                </li>
                <li class="cs-stat">
                    <span class="cs-number">150+</span>
                    <span class="cs-desc">Positive Reviews</span>
                </li>
                <li class="cs-stat">
                    <span class="cs-number">X</span>
                    <span class="cs-desc">Years of Service</span>
                </li>
            </ul>
        </div>
    </div>
</section>

<!--                   
    This is a cs-content section that you can swap out with any cs-content you have in your site that is not a Side By Side. 
-->

<div id="cs-content-1792">
    <div class="cs-content">
        <div class="cs-flex-wrapper">
            <div class="cs-flex">
                <span class="cs-topper">Services</span>
                <h2 class="cs-title">No-Hassle Property Management
            </div>
            <a href="" class="cs-button-solid">View Our Property Management Youtube Videos!</a>
        </div>
        <div class="cs-wrapper">
            <p class="cs-text">
                This is just some of the things that we do for our owners.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    Monthly Rent Collections                
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    Complete Handling of Maintenance Requests
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    Proper Tenant Relations Management
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    Annual Lease Renewals
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    Tenant Eviction Services
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    Emergency Management            
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    Make-Rent Ready Coordination
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    Professional Advice & Counsel
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    State & Local Law Compliance
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    Monthly & Annual Accounting Statement
                </li>
            </ul>
        </div>
    </div>
</div>
              
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-983">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">How Much Will My Home Rent For?</h2>
            <h4 class="cs-text">Fill Out The Form and We'll Set Up A Free Consultation</h4>
        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-983" name="Contact Form" method="post">
            <label class="cs-label">
                First Name
                <input class="cs-input" required type="text" id="name-587-983" name="First Name" placeholder="First Name">
            </label>
            <label class="cs-label">
                Last Name
                <input class="cs-input" required type="text" id="name-587-983" name="Last Name" placeholder="Last Name">
            </label>
            <label class="cs-label">
                Email
                <input class="cs-input" required type="text" id="email-587-983" name="email" placeholder="Email">
            </label>
            <label class="cs-label">
                Phone Number
                <input class="cs-input" required type="text" id="phone-587-983" name="phone" placeholder="Enter Your Phone Number">
            </label>
            <label class="cs-label">
            </br>
                Property Address
                <input class="cs-input" required type="text" id="address-587-983" name="Property Address" placeholder="Your Property Address">
            </label>
            <label class="cs-label cs-message">
                Tell Us About Your Property
                <textarea class="cs-input cs-textarea" required name="Address" id="message-587-983" placeholder="Tell Us About Your Property"></textarea>
            </label>
            <div class="cs-wrapper">
                <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
            </div>
        </form>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon-bg-m.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon-bg.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon-bg.jpg" alt="hair salon" width="2500" height="770">
    </picture>
</section>
                                
<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose-1479">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Areas Of Service</span>
            <h2 class="cs-title">We manage all over the Phoenix Area</h2>
            <p class="cs-text">
                Property management for other areas of the Valley are considered on a case by case basis.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/day-care-house.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Goodyear</h3>
                <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/day-care-shield.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Buckeye</h3>
                <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/day-care-thumb.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Tartesso</h3>
                <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/day-care-ball.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Surprise</h3>
                <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/day-care-ball.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Litchfield Park</h3>
                <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/day-care-ball.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Avondale</h3>
                <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/day-care-ball.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Tolleson</h3>
                <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/day-care-ball.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Peoria</h3>
                <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/day-care-ball.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Glendale</h3>
                <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/day-care-ball.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Phoenix</h3>
                <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/day-care-ball.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Paradise Valley</h3>
                <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/day-care-ball.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Scottsdale</h3>
                <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/day-care-ball.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Tempe</h3>
                <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/day-care-ball.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Mesa</h3>
                <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/day-care-ball.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Gilbert</h3>
                <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/day-care-ball.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Chandler</h3>
                <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
        </ul>
    </div>
</section>                                                      

    {% include 'components/cta.html' %}

{% endblock %}