---
title: 'Apply For A Rental'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'apply-for-a-rental/'
eleventyNavigation:
    key: Apply For A Rental
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/apply-for-a-rental.css">
{% endblock %}

{% block body %}

{% include 'components/banner.html' %}

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1304">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Requirements</span>
                <h2 class="cs-title">Minimum Reqiurements</h2>
            </div>
            <p class="cs-text">
                These are our minimum rental requirements. Please note that some owners of individual properties may have slightly different requirements.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/brain.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Credit score of at least 625
                    </h3>
                    <p class="cs-item-text">
                        We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/users.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Monthly income of at least 3x the monthly rent</h3>
                    <p class="cs-item-text">
                        We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Layer.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Currently employed for at least 12 months</h3>
                    <p class="cs-item-text">
                        We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Layer.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">No prior evictions or landlord judgments</h3>
                    <p class="cs-item-text">
                        We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/brain.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">No open bankruptcy’s</h3>
                    <p class="cs-item-text">
                        We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/users.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Positive rental reference if applicable</h3>
                    <p class="cs-item-text">
                        We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Layer.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">No Smoking</h3>
                    <p class="cs-item-text">
                        We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Layer.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">No Cats</h3>
                    <p class="cs-item-text">
                        We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                    </p>
                </a>
            </li>
        </ul>
    </div>
    
</section>
                           
    {% include 'components/cta.html' %}

{% endblock %}