/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-539 {
        padding: var(--sectionPadding);
        padding-top: (520/16rem);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            text-align: left;
            /* changes to 41% at tablet */
            width: 100%;
            max-width: (522/16rem);
        }

        .cs-color {
            color: var(--primaryLight);
        }

        .cs-title {
            max-width: 17ch;
        }

        .cs-card-group {
            /* changes to 43% at tablet */
            width: 90%;
            max-width: (522/16rem);
            margin: 0 auto 0 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            /* 16px - 52px */
            row-gap: clamp(1rem, 5vw, 3.25rem);
        }

        .cs-item {
            width: 40%;
            max-width: (200/16rem);
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-number {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0 0 (8/16rem) 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-desc {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-big-link {
            width: 100%;
            /* changes to a clamp at tablet */
            height: (320/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &:hover {
                .cs-background {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            /* clips the img from overflowing the container on hover */
            overflow: hidden;
            display: block;
            position: relative;
            top: 0;
            left: 0;
            z-index: 1;

            &:before {
                /* color overlay */
                content: "";
                width: 100%;
                height: 100%;
                opacity: 0.72;
                background-blend-mode: multiply;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 10;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: -1;
                transition: transform 0.7s;
            }
        }

        .cs-link-icon {
            /* 80px - 110px */
            width: clamp(5rem, 11vw, 6.875rem);
            height: clamp(5rem, 11vw, 6.875rem);
            border-radius: 50%;
            position: absolute;
            z-index: 10;
            transition:
                transform 0.3s,
                box-shadow 0.3s;

            &:hover {
                transform: scale(1.1);
                box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #stats-539 {
        padding: 0rem 2rem;
        .cs-container {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            padding-top: (280/16rem)
        }

        .cs-content {
            width: 41%;
        }

        .cs-card-group {
            width: 43%;
        }

        .cs-big-link {
            /* 280px - 580px */
            height: clamp(20rem, 44vw, 36.25rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
    #stats-539 {
        padding-top: 0rem;

    }
}


/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-983 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            width: 100%;
            /* changes to 1064px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (40/16rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
        }

        .cs-form {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: (12/16rem);
        }

        .cs-label {
            font-size: (16/16rem);
            line-height: 1.5em;
            width: 100%;
            color: #fff;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: (8/16rem);
            grid-column: span 12;
        }

        .cs-input {
            font-family: inherit;
            font-size: (16/16rem);
            width: 100%;
            height: (56/16rem);
            padding-left: (24/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            color: #fff;
            background-color: #484848;
            border: none;

            &::placeholder {
                padding-top: (16/16rem);
                color: #fff;
                opacity: 0.5;
            }
        }

        .cs-textarea {
            height: (120/16rem);
            margin-bottom: (32/16rem);
            padding-top: (16/16rem);
        }

        .cs-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            grid-column: span 12;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (32/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-submit {
            border: none;
            &:hover {
                cursor: pointer;
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #1a1a1a;
                opacity: 0.9;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #contact-983 {
        .cs-container {
            max-width: (1064/16rem);
        }

        .cs-label {
            grid-column: span 6;
        }

        .cs-message {
            grid-column: span 12;
        }

        .cs-wrapper {
            grid-column: span 12;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-727 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (20/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            margin: 0;
            /* 32px - 48px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(2rem, 7vw, 3rem) clamp(1rem, 4vw, 2rem);
            /* makes padding not affect height and width */
            box-sizing: border-box;
            background-color: #f0f0f0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 4vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (24/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 4vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (48/16rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 500;
            margin: auto 0 0 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
            position: relative;
            &:before {
                content: "";
                width: (8/16rem);
                height: 1px;
                background: currentColor;
                display: block;
                position: relative;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-727 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .cs-item {
            width: 48.5%;
        }
    }
}   

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #sbs-r {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: (40/16rem);
        }

        .cs-left {
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, 0.7em)";
            /* using ems so we can use font size to scale the whole section */
            width: (631/16em);
            height: (636/16em);
            position: relative;
        }

        .cs-picture {
            border-radius: (24/16em);
            display: block;
            position: absolute;
            /* clips img tag corners */
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                /* makes image act like a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (522/16em);
            height: (581/16em);
            top: 0;
            right: 0;
        }

        .cs-picture2 {
            width: (414/16em);
            height: (400/16em);
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            bottom: 0;
            left: 0;
        }

        .cs-right {
            max-width: (542/16rem);
            margin: auto;
        }

        .cs-topper {
            text-align: left;
            margin-bottom: (4/16rem);
        }

        .cs-title {
            text-align: left;
            max-width: (800/16rem);
        }

        .cs-text {
            text-align: left;
            max-width: (750/16rem);
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-flex-group {
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            background-color: #f7f7f7;
            border-radius: (16/16rem);
            position: relative;
        }

        .cs-flex-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (16/16rem);
            color: #353535;
        }

        .cs-name {
            font-size: (16/16rem);
            font-weight: bold;
            line-height: 1.2em;
            text-transform: uppercase;
            margin: 0 0 (4/16rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: (14/16rem);
            line-height: 1.5em;
            color: #353535;
            display: block;
        }

        .cs-quote-icon {
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
            position: absolute;
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
            bottom: (0/16rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
    #sbs-r {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: (52/16rem);
        }

        .cs-left {
            font-size: ~"min(1.2vw, 1em)";
            /* sends it to the right */
            order: 2;
            flex: none;
        }

        .cs-right {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #sbs-r {
            .cs-left {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                background-color: var(--dark);
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-flex-p,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-flex-group {
                background-color: var(--accent);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}
