/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-562 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content-top {
            /* set text aling to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-content {
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-topper {
            color: var(--headerColor);
        }

        .cs-title {
            margin: 0;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-color {
            color: var(--primary);
        }

        .cs-h3 {
            /* 25px - 31px */
            font-size: clamp(1.5625rem, 3vw, 1.9375rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            /* 16px - 20px */
            margin: 0 0 clamp(1rem, 1.9vw, 1.25rem) 0;
            color: var(--headerColor);
        }

        .cs-ul {
            width: 100%;
            margin: 0 0 (32/16rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 16px - 24px */
            gap: clamp(1rem, 2.5vw, 1.5rem);
        }

        .cs-li {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            font-weight: 700;
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            /* push icon top the top so if the list item goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: (20/16rem);
        }

        .cs-icon {
            /* adds extra space between the icon and top of parent so it's more centered */
            margin-top: clamp(0.125rem, 0.47vw, 0.4375rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #000;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--secondary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            /* changes at tablet */
            width: 100%;
            max-width: (630/16rem);
            /* changes to a clamp at tablet */
            height: (396/16rem);
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-562 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .cs-picture {
            width: 46vw;
            /* 415px - 528px */
            height: clamp(25.9375rem, 50vw, 33rem);
        }

        .cs-content {
            width: 45%;
            max-width: (520/16rem);
        }
    }
}                      

/*-- -------------------------- -->
<---           Reviews          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
    #reviews {
        margin: auto;
        padding-top: (120/16rem);
        padding-bottom: (50/16rem);

        .container {
            width: 96%;
            max-width: (1320/16rem);
        }

        .review {
            width: 100%;
            max-width: (410/16rem);
            margin: auto;
            margin-bottom: (100/16rem);
            padding: (64/16rem) (30/16rem) (18/16rem) (30/16rem);
            background: #fff;
            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
            border-radius: (5/16rem);
            display: flex;
            flex-direction: column;
            position: relative;
            &:last-of-type {
                margin-bottom: 0;
            }

            .profile {
                width: (99/16rem);
                height: (99/16rem);
                margin-bottom: (16/16rem);
                margin-left: 0;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: calc(-51 / 16 * 1rem);
                left: (30/16rem);
            }

            p {
                line-height: 1.5em;
                text-align: left;
                margin-bottom: (28/16rem);
            }

            .star-group {
                margin-top: auto;
                padding-top: (16/16rem);
                border-top: 1px solid #e7e7e7;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;

                .name {
                    font-weight: bold;
                    line-height: (24/16rem);
                    text-align: left;
                    color: #1a1a1a;
                    display: block;
                }

                .desc {
                    font-weight: 400;
                    color: #575757;
                    display: block;
                }

                img {
                    width: (91/16rem);
                    height: (15/16rem);
                    margin: 0;
                    display: block;
                }
            }
        }
    }
}

/* Tablet */
@media only screen and (min-width: 48em) {
    #reviews {
        padding-top: (150/16rem);
        padding-bottom: (50/16rem);

        .container {
            font-size: ~"min(1.4vw, 1em)";
            padding: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: (30/16rem);
        }

        .review {
            margin: 0;
            margin-bottom: (150/16rem);

            &:last-of-type {
                margin-bottom: (150/16rem);
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #reviews {
            .review {
                background: var(--medium);

                .name {
                    color: #fff;
                }

                .desc {
                    color: #fff;
                    opacity: 0.7;
                }
            }
        }
    }
}
